<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Geosurf Service." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="images/homer.png"/>
  </div>
  <div class="column">
    <h1 class="title">Get going with your account today</h1>
    <p>Keep all your favourite surfpots in one place</p>
  </div>
</div>